.inner {
	display: flow-root;
	box-sizing: border-box;
	max-width: 64rem;
	margin: 0 auto;
	padding: 0 1rem;
	background: repeating-linear-gradient(
		to right,
		#0001 0,
		#0001 1rem,
		#0000 1rem,
		#0000 calc(((100% - 5rem) / 4) + 1rem)
	);
}
@media screen and (min-width: 36rem) {
	.inner {
		background: repeating-linear-gradient(
			to right,
			#0001 0,
			#0001 1rem,
			#0000 1rem,
			#0000 calc(((100% - 9rem) / 8) + 1rem)
		);
	}
}
@supports not (display: flow-root) {
	.inner {
		overflow: auto;
	}
}
