/* Section */
.section,
.section p,
.section ul,
.section ol {
	font-weight: 300;

	font-size: 16px;
	line-height: 1.5;
}
.section p,
.section ul,
.section ol {
	margin-top: 16px;
	margin-bottom: 16px;
}

.section h1 {
	margin-top: 32px;
	margin-bottom: 16px;
	font-size: 60px;
	line-height: 1.2;
}
.section h2 {
	margin-top: 32px;
	margin-bottom: 16px;

	font-weight: 500;
	font-size: 32px;
	line-height: 1.25;
}
.section h3 {
	margin-top: 32px;
	margin-bottom: 16px;

	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
}
.section h4 {
	margin-top: 24px;
	margin-bottom: 16px;

	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
}
.section h5 {
	margin-top: 24px;
	margin-bottom: 16px;

	font-weight: 600;
	font-size: 16px;
	line-height: 1.5;
}
.section h6 {
	margin-top: 16px;
	margin-bottom: 16px;

	font-weight: 400;
	font-size: 16px;
	line-height: 1.5;
}
